<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel = "stylesheet" type = "text/css" href = "styles.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    

    <title>KiFinder Login</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light  fixed-top">
        <a class="navbar-brand" href="profile.html">KiFinder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="profile.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Radius</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Objects</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Location</a>
            </li>
          </ul>
        </div>
      </nav>
  <div class="jumbotron" style="text-align: center;">
     <h1 class="display-4"  >KiFinder</h1>
     <p class="lead">Never Forget Anything At Home Ever Again. </p>
     <hr class="my-4">
     <p>With a Raspberry Pi, GPS, and RFID all this is possible</p>
   </div>

   <div class="container">
  <!-- dasdas 
    PROB. Erase This Row. No need for buttons if we have navbar
     <div class="row">
   

       <div class="col-md-4" style="align-items: center;">
        <a href="#Radius" style="margin-left: 33%; margin-right: 33%;"><button type="button" class="btn btn-outline-info">Radius</button></a>
       </div>

       <div class="col-md-4">
        <a href="#Objects" style="margin-left: 33%; margin-right: 33%;" ><button type="button" class="btn btn-outline-info">Objects</button></a>
      </div>

      <div class="col-md-4">
        <a href="location.html" style="margin-left: 33%; margin-right: 33%;"><button type="button" class="btn btn-outline-success">Location</button></a>
      </div>

    </div>
   -->
    <div class="row" style="margin-top: 10px"> 
      
     
      <div class="col-md-4" >
        
        <a href="location.html"><h1 style="text-align: center;"> Location Data</h1> </a>
        <p>Home Latitude:         ______ </p>
        <p>Home Longitude:         _____ </p>
        <p>Current Latitude:       _____ </p>
        <p>Current Longitude:       ____ </p>
      </div>

      <div class="col-md-4" style="margin-top: 30px;">
        <p style=""> Click on <span style="color: rgb(0, 81, 255);">"Set Home" </span> to set current Longitude and Latitude as your Home Cords.</p>
        <a href="#sethome" ><button type="button" class="btn btn-primary">Set Home</button></a>
    </div>
    <div class="col-md-4"  >
     
        
    </div>

   </div>
   </div>



  </body>
</html>
  <!-- Optional JavaScript -->
  
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
