<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel = "stylesheet" type = "text/css" href = "styles.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    

    <title>KiFinder Tutorial</title>
    
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark  sticky-top" style="background-color: #f26d4f !important;">
      <a class="navbar-brand" href="profile.html"><img style="width:30px; margin-bottom: 7px" src="https://cdn.iconscout.com/icon/premium/png-512-thumb/gps-signal-1-599572.png">KiFinder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   
      <ul class="navbar-nav ml-auto" style="margin-bottom: 3px">
        <li class="nav-item active">
          <a class="nav-link" href="newuser.html">Go back</a>
      </li>
      </ul>
    </div>
  </nav>

 
     <div class="container" style="text-shadow: none !important;">
  
        <div class="row">
          <div class="col-md-12"  > <h2 style="color: #1b325f; margin-bottom: 30px; margin-top: 30px;">How To Use: Track Your Object</h2>
          </div>
        </div>


    
        <div class="row" style="background-color: #e9f2f9;text-align: left; ">
            <div class="col-md-6"  > 

                
                <h5>Second thing we are going to learn is how to Track an Object!</h5>
                <ul >
                    <li> Take the tag </li>
                    <li> Place it ontop of the Tag Reader</li>
                    <li> Give the tag a name</li>
                    <li><form action="{{ url_for('handle_data MY FUNCTION NAME') }}" method="post">
                      <input type="text" name="projectFilepath">
                      <input type="submit">
                  </form></li>
                    <li> Click Submit</li>
                    <li> Wait for promt</li>
                </ul>
               
            </div>

            <div class="col-md-6" style="color: #9cc4e4;">
                <div style="display: flex; ">
                    <h6 style="flex: 0;"></h6>
                    <img  style="flex: 1; height: 150px !important;" src="images/tag.png">
                    <img  style="flex: 8;height: 250px; " src="images/RFID.png">
                   </div>
            </div>
        </div>
        <hr class="my-4">

     </div>


     <div style="display: flex;">
      <div class="text-left">
        <a href="newuser.html" style="text-align: left !important;"><button type="button" class="btn btn-primary" >Previous Page</button></a>
     </div>
     <div style="flex: 10;"></div>
     <div class="text-right">
      <a href="newuser3.html" style="text-align: left !important;"><button type="button" class="btn btn-primary" >Next Page</button></a>
   </div>

   </div>

   

   

   

  </body>
</html>
  <!-- Optional JavaScript -->
  
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
